html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.section {
  display: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.section.visible {
  display: block;
  height: 100%;
}


